@font-face {
    font-family: 'GamingFont';
    src: url('./assets/DragonHunter-9Ynxj.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GamingFontBody';
    src: url('./assets/EmotionEngine-8ynA.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: "GamingFontBody";
 
}

body{
    background-color: #030329;
    
}
